<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-striped table-bordered table-hover" style="cursor: pointer;">
          <thead>
              <tr>
                  <th sort order="'name'" by="order" reverse="reverse">Name</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="userRepoTblData in $state.current.data.userRepo.filteredUserRepoTblData  | orderBy:order:reverse">
                  <td>
                      {{userRepoTblData.name}}
                  </td>
              </tr>
          </tbody>
        </table>
        <div class="row">
            <div class="col-sm-3">
                Showing {{begin + 1}} to {{end}} of {{$state.current.data.userRepo.userRepoTblData.length}} entries
            </div>
            <div class="col-sm-9">
              <div class="pull-right">
                <pagination total-items="$state.current.data.userRepo.userRepoTblData.length" num-pages="numPages" items-per-page="$state.current.data.userRepo.numPerPage" max-size="maxSize"  ng-model="$state.current.data.userRepo.pagination" ></pagination>
              </div>
            </div>
        </div>
    </div>
 </div>
