<h4>Isolate Scope "&"</h4>
<p>
    <strong> The "&" sign allows you to invoke an expression, or call an expression, evaluate an expression, 
        whatever, on the parent scope of whatever the directive is on the inside of.
    </strong>
</p>
<call-Phone dial-here="callHome(message1)">
    
</call-Phone>
<call-Phone select-val="callHome(message)">
    
</call-Phone>
<hr>

<h4>Isolate Scope "@"</h4>
<p>
    <strong>
        this is doing the same thing as the attrs.flavorview and assiging back to the isolate scope
    </strong>
</p>
<input type="text" name="whatCoffe" ng-model="whatCoffe" >
<div drink flavorview="{{whatCoffe}}" size="small"></div>

<hr>
<h4>Isolate Scope "="</h4>
From Ctrl
<input type="text" name="howAreYouFeeling" ng-model="howAreYouFeeling" >
From Ctrl
<input type="text" name="anythingMoreYouWantToSay" ng-model="anythingMoreYouWantToSay" >
<input type="text" name="inGeneral" ng-model="inGeneral" >

<br/>
<br/><br/>
From Dir - attributes should be referenced in lower case to access their values in the directory
<div feel-Good how-you-feel="howAreYouFeeling" add-more="anythingMoreYouWantToSay" in-general="inGeneral"></div>







