<h4>Dir Nav</h4> 
<div class="row">
 
    <ul class="nav nav-pills nav-stacked">
        <li ng-class="{active: $state.is('directiveLesson.main')}"><a ui-sref="directiveLesson.main">Home</a></li>
        <li ng-class="{active: $state.is('directiveLesson.main.lessonOne')}"><a ui-sref="directiveLesson.main.lessonOne">Lesson One</a></li>
        <li ng-class="{active: $state.is('directiveLesson.main.lessonTwo')}"><a ui-sref="directiveLesson.main.lessonTwo">Lesson Two</a></li>
        <li ng-class="{active: $state.is('directiveLesson.main.lessonThree')}"><a ui-sref="directiveLesson.main.lessonThree">Lesson Three</a></li>
        <li ng-class="{active: $state.is('directiveLesson.main.lessonFour')}"><a ui-sref="directiveLesson.main.lessonFour">Lesson Four</a></li>
        <li ng-class="{active: $state.is('directiveLesson.main.lessonFive')}"><a ui-sref="directiveLesson.main.lessonFive">Lesson Five</a></li>
        <li ng-class="{active: $state.is('directiveLesson.main.lessonSix')}"><a ui-sref="directiveLesson.main.lessonSix">Lesson Six</a></li>
    </ul>
</div>
